* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #18171c;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor:pointer;
  border: 0;
}